<div class="form-row" style="margin-bottom: 15px;">
  <div class="form-group">
    <label for="resource{{index}}.nameOrAgency">Resource Name/Agency</label>
    <input type="text" name="resourcesContacted[{{index}}][nameOrAgency]" 
           id="resource{{index}}.nameOrAgency">
  </div>
  <div class="form-group">
    <label for="resource{{index}}.outcome">Outcome</label>
    <input type="text" name="resourcesContacted[{{index}}][outcome]" 
           id="resource{{index}}.outcome">
  </div>
</div>
